@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//scheme: https://coolors.co/dd6e42-e8dab2-4f6d7a-c0d6df-eaeaea

& {
  --color-bg: #EAEAEA;
  --color-aside: #DD6E42;
  --color-fg: #000;
  --color-fg-darker: #222e34;
  --color-highlight: #E8DAB2;
}

&.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

aside {
  width: 350px;
  padding: 2em;
  background-color: var(--color-aside);

  text-align: center;

  h1 {
    color: var(--color-highlight);
  }

  sub {
    color: var(--color-fg);
    font-size: 0.9em;
  }

  hr {
    border-width: 1px 0 0 0;
    border-color: var(--color-fg-darker);
    margin: 1em 0 1em 0;
  }
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow: scroll;

  a {
    text-decoration: none;
    color: var(--color-highlight);
  }

  & > .index {
    margin-top: 1em;
    width: 900px;

    h1 {
      text-align: center;
    }

    .posts {
      .item {
        display: flex;
        flex-direction: row;

        .image {
          box-sizing: content-box;
          padding: 1em;
          width: 180px;
          height: 180px;
        }

        & > .content {
          display: flex;
          flex-direction: column;
          padding: 1em;

          h2 {
            margin: 0;
          }

          span {
            color: var(--color-fg-darker);
          }

          .synopsis {
            margin-top: 1em;
            flex-grow: 1;
          }
        }
      }
    }
  }

  & > .post {
    margin-top: 2em;
    width: 900px;

    .frontmatter {
      h1, span {
        display: block;
        margin: 0 0 0.5rem 0;
      }
    }

    .content {
      padding-bottom: 2em;
      line-height: 1.7em;
    }
  }
}