@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import "default_util";

&.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

aside {
  @include bg-color('dark-blue');
  @include color('white');

  width: 350px;
  padding: 2em;

  text-align: center;

  sub {
    @include color("grey");
    font-size: 0.9em;
  }

  hr {
    border-width: 1px 0 0 0;
    border-color: map-get($colors, 'grey');
    margin: 1em 0 1em 0;
  }
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow: scroll;

  a {
    text-decoration: none;
    @include color('blue');
  }

  & > .index {
    margin-top: 1em;
    width: 900px;

    h1 {
      text-align: center;
    }

    .posts {
      .item {
        display: flex;
        flex-direction: row;

        .image {
          box-sizing: content-box;
          padding: 1em;
          width: 180px;
          height: 180px;
        }

        & > .content {
          display: flex;
          flex-direction: column;
          padding: 1em;

          h2 {
            margin: 0;
          }

          span {
            @include color('grey');
          }

          .synopsis {
            margin-top: 1em;
            flex-grow: 1;
          }
        }
      }
    }
  }

  & > .post {
    margin-top: 2em;
    width: 900px;

    .frontmatter {
      h1, span {
        display: block;
        margin: 0 0 0.5rem 0;
      }
    }

    .content {
      padding-bottom: 2em;
      line-height: 1.7em;
    }
  }
}