
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
//@import "../../node_modules/prismjs/themes/prism-okaidia.css";

@import "./prismjs/darcula.scss";

body {
 font-family: 'Noto Serif', serif;
 font-size: 11pt;
}

.markdown {
  h1, h2 {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }

  strong {
    text-decoration: underline;
  }

  code {
    font-size: 0.9em !important;
  }

  pre[class*="language-"] {
    border-radius: 0.5em;
  }

  p, ul, ol {
    &  code {
      background-color: revert;
      color: revert;
      text-shadow: revert;
    }
  }
}